TIMEZONE_LOCATION: 'Asia/Jakarta'
LATITUDE: -6.2248896
LONGITUDE: 106.8279695
REDIS_URI_SERVER: 'redis://localhost:6379'
REDIS_URI_CLIENT: 'redis://localhost:6379'
SLACK_TOKEN: 'YOUR SLACK TOKEN HERE'
